.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid lightgrey;
  border-radius: 12px;
  overflow: hidden;

  &__row {
    $row: &;
    width: 100%;
    cursor: pointer;
    transition: background-color .2s linear;

    &:not(#{$row}--header):hover {
      background-color: #f3f3f3;
    }

    &--header {
      cursor: auto;
    }
  }

  &__cell {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 24px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
      padding: 16px;
    }

    &--header {
      font-size: 24px;
      font-weight: 700;
      background-color: #f3f3f3;
      border-bottom: 1px solid lightgrey;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
}